/* h1 {
	font-family: 'Varela Round', sans-serif;
} */

/* body {
	font-family: 'Bree Serif', serif;
} */

body {
	background-color: #fbfbfb;
}

.cursive {
	font-family: 'Dancing Script', cursive;
	font-size: 17;
	color: #b1a2a2;
}

.title {
	font-size: 35;
}

.card {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(219,215,219,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(219,215,219,1);
	box-shadow: 0px 0px 3px 0px rgba(219,215,219,1);
	padding: 10px;
	margin: 6px;
}

.showcase-card {
	width: 250px;
	min-height: 350px;
}

.lowspace-card {
	margin-bottom: 0px;
}

.person-card {
	margin-left: 12px;
	width: 600px;
}

.whitebg {
	background-color: #ffffff;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
}

.button {
	cursor: pointer;
}

.button:hover {
	background-color: #6898f1;
}

p {
	text-align: justify;
}

.circular {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.people {
	margin-left: 10px
}

.people .name {
	font-size: 30px;
	font-family: 'Varela Round', sans-serif;
}

.people .designation {
	color: #cccccc;
}

.people .about {

}
